*{
 font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji","Microsoft JhengHei";;
}

.text-center{
    font-weight: 600;
}

.service-img{
    max-height: 90px;
}

.skillslist{
    max-width: 250px;
    text-align: justify;
    display: inline-block;
}

#construction{
    max-width: 200px;
}

.copyright{
    margin-bottom: 0.2rem;
}

.copyright:last-child{
    margin-bottom: 0rem;
}