/*template*/

* {
    zoom: 0.98;
}

#app {
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: "open sans", "Helvetica", "微軟正黑體", "Microsoft JhengHei";
}

.content {
    display: grid;
    width: 70%;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr repeat(2, 3fr) 4fr;
    grid-template-areas: "head head" "contact experience" "compitition experience" "skills skills";
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    padding: 10px;
    /*margin-top: 30px;*/
    margin-top: 5px;
}

.content>div {
    padding: 20px;
    margin-bottom: 5px;
    border-radius: 15px;
    box-shadow: 1pt 1pt 5pt rgba(40, 40, 40, .5);
}

.content>#head {
    grid-area: head;
}

.content>#contact {
    grid-area: contact;
}

.content>#compitition {
    grid-area: compitition;
}

.content>#experience {
    grid-area: experience;
}

.content>#skills {
    display: grid;
    grid-area: skills;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "stitle stitle stitle stitle stitle" "a b c d e";
    margin-top: 5px;
}

#stitle {
    grid-area: stitle;
    text-align: center;
}

#a11 {
    margin-left: 30px;
    grid-area: a;
}

#a22 {
    margin-left: 30px;
    grid-area: b;
}

#a33 {
    margin-left: 30px;
    grid-area: c;
}

#a44 {
    margin-left: 30px;
    grid-area: d;
}

#a55 {
    margin-left: 30px;
    grid-area: e;
}

footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

.symbol,
.skilltext {
    font-size: 14pt;
}

.symbol,
.num1 {
    float: left;
}

.skilltext {
    vertical-align: middle;
}

.symbol>div::before {
    content: "  ";
    display: inline-block;
    text-align: center;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgb(165, 165, 165);
    color: white;
    position: relative;
    top: -2px;
}

.symbol>div::after {
    content: " ";
    border-left: 1px solid rgb(165, 165, 165);
    height: 100%;
    margin-left: -5px;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.symbol>div:last-child::after {
    border: none;
}

.num1,
.num2 {
    display: inline-block;
}

.num1>div,
.num2>div {
    line-height: 2.5rem;
    font-size: 16pt;
}

.num1>div::before,
.num2>div::before {
    content: "0";
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 31px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(165, 165, 165);
    color: white;
}

.num1>div::before {
    content: "1";
}

.num2>div::before {
    content: "2";
}

p.tag {
    display: inline-block;
    font-size: 14pt;
    border-radius: 1rem;
    padding: 2pt 6pt;
    margin-top: 10pt;
    margin-bottom: 0px;
    color: white;
    background: linear-gradient(45deg, #5ea0ecf3, #2a71d4ef);
}

p.exp {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 16pt;
}

#experience>div:last-child {
    margin-bottom: 5px;
}


/*custom*/

#my_photo {
    float: right;
    /*margin-top: -40px;
    margin-left: 20px;
    margin-right: 30px;*/
}

#my_photo>img {
    width: 130px;
    height: 130px;
    clip: rect(0px, 130px, 130px, 0px);
    border-radius: 50%;
    box-shadow: 1pt 1pt 4pt rgba(40, 40, 40, .5);
}

.inner {
    display: inline-block;
}

.title {
    margin: 0px;
    margin-bottom: 5px;
    width: 100%;
}

#subtitle {
    margin: 0px;
    color: rgb(65, 65, 65);
    text-decoration: none;
    font-size: 14pt;
}

#subtitle:hover {
    color: royalblue;
}

#quote {
    font-size: 16pt;
    margin-bottom: 0px;
}

#quote::before {
    content: "[";
}

#quote::after {
    content: "]";
}

.icon {
    display: inline-block;
    margin-left: 5px;
    vertical-align: super;
}

#contact>div {
    color: black;
    font-size: 14pt;
    font-weight: 500;
}

#contact>div:hover {
    cursor: pointer;
    color: blue;
    font-weight: 600;
}

#com1 {
    margin-top: 15px;
}

#com2 {
    margin-top: 10px;
}