@media screen and (max-width:1439px) {
    .banner {
        text-align: center;
        display: inline-block;
    }
}

@media screen and (max-width:1000px) {
    .member>h1 {
        font-size: 26pt;
    }
    .card p {
        font-size: 26pt;
    }
}